@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3944F7;
  font-family: 'Roboto', sans-serif;
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}
.card {
  width: 20rem;
  border: none;
  cursor: url("https://emoji.gg/assets/emoji/2355_ultra_ball_pokemon.png"), auto;
}
.heart {
  color: red;
  font-size: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}